- var classes = ['main', 'large', 'no-padding'];
- var atts = {'data-ng-change': 'runChangeMethod()'};

doctype html
html(lang='')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Starter Template for Bootstrap 3.3.6
    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    style.
      body{padding-top:50px;}.starter-template{padding:40px 15px;text-align:center;}

  body(data-ng-app='superhero')

    include ./menu.jade

    block content

    include ./footer.jade
